<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>[== $pagetitle =] | [== $page_data->{site_title} =]</title>
    <link href="/css/bootstrap3.min.css" rel="stylesheet">
    <link href="/css/bootstrap3-theme.css" rel="stylesheet">
    <link href="/taracot/main.css" rel="stylesheet">
    <script src="/js/taracot.min.js"></script>
    <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->  
    <!-- module css --> [== $head_html =]  
  </head>
  <body>
    <div class="navbar navbar-fixed-top" style="background:#444;height:80px">
      <div class="container">
        <a href="/"><img src="/taracot/logo_white_235.png" width="235" height="51" alt="Taracot CMS" style="margin-top:7px" /></a>
      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top" style="margin-top:70px">      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            [% menu %]
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <?pl if ($auth_data->{id}) { ?>
            <li class="visible-xs"><a href="/user/account">Profile: [== $auth_data->{username} =]</a></li>
            <li class="visible-xs"><a href="/user/logout">Log out</a></li>
            <li class="hidden-xs">
              <div style="margin-top:15px"><a href="/user/account" class="taracot_top_badge_link"><span class="label label-default">Profile: [== $auth_data->{username} =]</span></a>&nbsp;<a href="/user/logout" class="taracot_top_badge_link" style="margin-right:5px"><span class="label label-warning">Log out</span></a></div>
            </li>
            <?pl } else { ?>
            <li class="visible-xs"><a href="/user/authorize">Log in</a></li>
            <li class="visible-xs"><a href="/user/register">Sign up</a></li>
            <li class="hidden-xs">
              <div style="margin-top:15px"><a href="/user/authorize" class="taracot_top_badge_link"><span class="label label-success">Log in</span></a>&nbsp;<a href="/user/register" class="taracot_top_badge_link" style="margin-right:5px"><span class="label label-primary">Sign up</span></a></div>
            </li>            
            <?pl } ?>
            <li><a data-toggle="dropdown" href="#"><img src="/images/flags/[== $detect_lang->{lng} =].png" width="14" height="11" alt="" />&nbsp;Language&nbsp;<span class="caret"></span></a><ul class="dropdown-menu" id="taracot_ui_lang_select" style="text-align:left"></ul></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="wrapper">
      <div class="container">
        [== $content =]
      </div> <!-- /container -->
    </div> <!-- /wrapper -->
    <div class="footer">
      <div class="container">
        <p class="text-muted credit">Taracot CMS designed by <a href="http://martinbean.co.uk">Michael A. Matveev</a>.</p>
      </div>
    </div>       
    <script type="text/javascript">
     var taracot_langs_available = jQuery.parseJSON('[== $detect_lang->{list} =]');
     var taracot_lang_current = "[== $detect_lang->{lng} =]";
    </script>    
    <script src="/js/taracot.frontend.min.js"></script>
  </body>
</html>