<div id="comment_error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="comment_error_header" aria-hidden="true">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="comment_error_header">[== $lang->{comment_error} =]</h3>
</div><div class="modal-body"><p id="comment_error_msg"></p></div>
<div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">[== $lang->{comment_error_close} =]</button></div>
</div>
<h1>[== $post_title =]</h1><?pl if ($blog_hub_url) { ?><i class="icon-briefcase"></i>&nbsp;<a href="[== $blog_hub_url =]">[== $blog_hub =]</a><div style="height:14px"></div><?pl } ?>[== $blog_text =]<div style="height:14px"></div><div style="height:14px"><span class="label label-inverse blog-label-bottom"><i class="icon-user icon-white"></i>&nbsp;[== $blog_user =]</span><?pl if ($blog_tags) { ?>&nbsp;<span  class="label label-inverse blog-label-bottom"><i class="icon-tags icon-white"></i>&nbsp;&nbsp;[== $blog_tags =]</span><?pl } ?><?pl if ($blog_views) { ?>&nbsp;<span class="label label-inverse blog-label-bottom"><i class="icon-eye-open icon-white"></i>&nbsp;[== $blog_views =]</span><?pl } ?></div>
<div style="height:24px"></div>
[== $comments =]