<div class="row-fluid">
 <div class="span1" style="text-align:right"><img src="/images/[== $status_icon =]" width="32" height="32" alt="" style="padding-top:2px" /></div>
 <div class="span11"><h1>[== $status_header =]</h1><p>[== $status_text =]</p></div>
</div>