<div class="media">
  <a class="pull-left" href="#">
    <img src="/images/[== $status_icon =]" width="32" height="32" alt="" style="margin-right:12px;margin-top:3px" />
  </a>
  <div class="media-body">    
  	<h1 style="margin-top:0px">[== $status_header =]</h1>
    <p>[== $status_text =]</p>
  </div>
</div>