<div class="col-lg-3 col-md-6 col-sm-6" style="text-align:center">
  <div class="thumbnail portfolio-item" style="margin-bottom:20px;">
  <center><a href="/portfolio/[== $id =]"><img src="[== $images_url =]/id_[== $id =].jpg" class="img-responsive img-rounded" /></a></center>
  <div class="caption">  
    <div class="label label-default label-inv">[== $title =]</div>
  </div>
  </div>
</div>