 <script src='/js/jquery-ui.min.js' type="text/javascript"></script>         
 <script src='/js/jquery.cookie.js' type="text/javascript"></script>
 <script src='/js/jquery.dynatree.min.js' type="text/javascript"></script>
 <link rel='stylesheet' type='text/css' href='/js/dynatree/ui.dynatree.css'>
 <h1>[== $lang->{module_name_long} =]</h1>
 <br />
 <div id="tree_lang">
  <span class="form-vertical">
    <div class="control-group">
      <label class="control-label" for="select_lang">[== $lang->{select_lang} =]:</label>
      <div class="controls">
       <select class="input-xlarge" id="select_lang">
       [== $list_langs =]
       </select>      
  		</div>
  		<div class="controls">
  		 <input type="button" class="btn" value="[== $lang->{load_tree} =]" id="tree_btn_load" />
  		</div>
		</div>
  </span> 
 </div>
 <div id="tree_editor" style="display:none">
   <div class="row" style="padding-bottom:5px">
     <div class="span4" style="padding-top:10px;">
       <span id="tree_btn_add" class="btn btn-success"><i class="icon-plus icon-white"></i></span>&nbsp;<span id="tree_btn_del" class="btn btn-danger"><i class="icon-trash icon-white"></i></span>
     </div>
     <div class="span8"></div>
   </div>
   <div class="row">
     <div class="span4 well" id="tree"></div>
     <div class="span8 well" id="node_edit" style="display:none">
       <span class="form-horizontal">
        <div class="control-group">
         <label class="control-label" for="node_title">[== $lang->{node_title} =]:</label>
         <div class="controls">
          <input type="text" class="input-xlarge" id="node_title">
         </div>
        </div>
        <div class="control-group">
         <label class="control-label" for="node_url">[== $lang->{node_url} =]:</label>
         <div class="controls">
          <input type="text" class="input-xlarge" id="node_url">
         </div>
        </div>
        <div class="control-group" style="padding-top:6px text-align:right; border-top:1px solid #ccc">
         <div class="controls" style="padding-top:15px">
          <input type="button" class="btn" id="node_btn_save" value="[== $lang->{node_save} =]" />
          <input type="button" class="btn" id="node_btn_cancel" value="[== $lang->{node_cancel} =]" />
         </div> 
        </div>
      </span>
    </div>
   </div>
   <div class="form-actions"> 
    <div id="ajax_loading" style="display:none">
  	  <img src="/images/well_loading.gif" width="16" heigth="11" alt="" />&nbsp;&nbsp;[== $lang->{ajax_loading} =]</span>
 		</div>
 		<div id="tree_btns">
      <input type="button" id="tree_btn_serialize" class="btn" value="[== $lang->{tree_save} =]" />
      <input type="button" id="tree_btn_cancel" class="btn" value="[== $lang->{tree_cancel} =]" />
      <input type="button" id="tree_btn_reset" class="btn btn-danger" value="[== $lang->{tree_reset} =]" />
    </div>  
   </div>
 </div>
 <script type="text/javascript">

  function initTree() {
   $('#tree_btns').hide();
   $('#ajax_loading').show();
   $("#tree").dynatree({
     rootCollapsible: false,
     persist: false,
     minExpandLevel: 2,
     clickFolderMode: 3,
     autoFocus: false,
     initAjax: { url: "/admin/sitemap/data/tree", data: { lang: $('#select_lang').val() } },
     strings: {
      loading: "[== $lang->{tree_loading} =]",
      loadError: "[== $lang->{tree_load_error} =]"
     },
     dnd: {
      preventVoidMoves: true,
      onDragStart: function(node) {
        if (node.getLevel() == 1) {
         return false;
        }
        return true;
      },
      onDragEnter: function(node, sourceNode) {
        if (node.getLevel() == 1) {
          if (node.data.sm_root) {
            return ["over"]
          } else {
            return false;
          } 
        }
        return ["before", "after", "over"];
      },
      onDrop: function(node, sourceNode, hitMode, ui, draggable) {
        sourceNode.move(node, hitMode);
      }
     },
     onActivate: function(node) {
      if (node.getLevel() === 1) {
       $('#node_edit').hide();
      } else {
       $('#node_edit').show();
       if (node.data.title) {
        $('#node_title').val(node.data.title);
       }
       if (node.data.url) {
        $('#node_url').val(node.data.url);
       } else {
        $('#node_url').val('');
       }
       $('#node_title').select();
       $('#node_title').focus();
      }                        
     },
     onClick: function(node) {
      if (node.getLevel !== 1) {
        node.deactivate();
        node.activate();
      }
     },
     onPostInit: function(node) {
      $('#tree_btns').show();
      $('#ajax_loading').hide();
     },
     onFocus: function(node) {
      if (node.getLevel !== 1) {
        $('#node_title').select();
        $('#node_title').focus();
      }
     }
   });
  }
  $('#tree_btn_load').click(
   function() { 
    $("#tree_lang").hide();
    $("#tree_editor").show();
    initTree(); 
  });
  $('#tree_btn_add').click(
   function() { 
    var node = $("#tree").dynatree("getActiveNode");
    if (node !== null) {
     _nc=node.addChild({
      title: "[== $lang->{node_untitled} =]",
      url: ""
     });
     node.expand();
     _nc.activate();
    } else {
     var node = $("#tree").dynatree("getRoot");
     if (node.countChildren() === 0) {
       _rn=node.addChild({
        title: "/",
        sm_root: "true",
        isFolder: "true",
        url: ""
       });
       _nc=_rn.addChild({
        title: "[== $lang->{node_untitled} =]",
        url: ""
       });
       node.expand();
       _nc.activate();
       } 
     }
  });
  $('#tree_btn_del').click(
   function() {
     var node = $("#tree").dynatree("getActiveNode");
     if (node === null) {
      return;
     } 
     if (node.getLevel() == 1) {
      return;
     }
     if (!confirm("[== $lang->{tree_node_del_confirm} =]:\n\n"+node.data.title)) {
      return false;
     }
     node.remove();
     $('#node_edit').hide();
   }
  );
  $('#node_btn_save').click(
   function() {
     var node = $("#tree").dynatree("getActiveNode");
     if (node === null) {
      return;
     } 
     if (node.getLevel() == 1) {
      return;
     }
     node.data.title=$('#node_title').val();
     node.data.url=$('#node_url').val();
     node.setTitle($('#node_title').val());  
     $('#node_edit').hide();    
   }
  );
  $('#node_btn_cancel').click(
   function() {
     $('#node_edit').hide();    
   }
  );
  $('#tree_btn_serialize').click(
   function() {
    var tree = $("#tree").dynatree("getTree");
    $('#tree_btns').hide();
    $('#ajax_loading').show();

    $.ajax({
        type: 'POST',
        url: '/admin/sitemap/data/tree/save',
        data: { data: JSON.stringify(tree.toDict(), null, 2), lang: $('#select_lang').val() },
        dataType: "json",
        success: function(data) {
          $('#tree_btns').show();
          $('#ajax_loading').hide();
          if (data.result != 1) {
            $.jmessage('[== $lang->{error} =]', "[== $lang->{tree_save_error} =]", 2500, 'jm_message_success');
            return;
          }
          $('#node_edit').hide();
          $("#tree").dynatree("destroy");
          $('#tree_editor').hide();
          $('#tree_lang').show();
          $.jmessage('[== $lang->{success} =]', "[== $lang->{tree_save_success} =]", 2500, 'jm_message_success');
        },
        error: function() {
          $.jmessage("[== $lang->{error} =]", "[== $lang->{error_ajax} =]", 2500, 'jm_message_error');
        }
    });    

   }
  );
  $('#tree_btn_cancel').click(
   function() {
    if (!confirm("[== $lang->{tree_cancel_confirm} =]")) {
     return false;
    }
    $('#node_edit').hide();
    $("#tree").dynatree("destroy");
    $('#tree_editor').hide();
    $('#tree_lang').show();
   }
  );
  $('#tree_btn_reset').click(
   function() {
    if (!confirm("[== $lang->{tree_reset_confirm} =]")) {
     return false;
    }
    var node = $("#tree").dynatree("getRoot");
    node.removeChildren();
    node.addChild({
        title: "/",
        sm_root: "true",
        isFolder: "true",
        url: ""
    });
    $('#tree_btns').hide();
    $('#ajax_loading').show();
    $.ajax({
        type: 'POST',
        url: '/admin/sitemap/data/tree/save',
        data: { data: JSON.stringify($("#tree").dynatree("getTree").toDict(), null, 2), lang: $('#select_lang').val() },
        dataType: "json",
        success: function(data) {
           $('#tree_btns').show();
           $('#ajax_loading').hide();
           if (data.result != 1) {
            $.jmessage('[== $lang->{error} =]', "[== $lang->{tree_save_error} =]", 2500, 'jm_message_success');
            return;
           }
           $('#node_edit').hide();
           $("#tree").dynatree("destroy");
           $('#tree_editor').hide();
           $('#tree_lang').show();
           $.jmessage('[== $lang->{success} =]', "[== $lang->{tree_save_success} =]", 2500, 'jm_message_success');   
        },
        error: function() {
          $.jmessage("[== $lang->{error} =]", "[== $lang->{error_ajax} =]", 2500, 'jm_message_error');
        }
    });
   }
  );
  // Keypress events
  $("#node_title").keypress(function(e){
   if(e.which==13) { $("#node_btn_save").click(); }
  }); 
  $("#node_url").keypress(function(e){
   if(e.which==13) { $("#node_btn_save").click(); }
  });
 </script>
  <script type="text/javascript">$('#nav_sitemap').addClass('active')</script>