h2, h3, h4 
{
  font-weight: normal;
}
.taracot-admin-h1 
{
  color: #444;
  text-shadow: 0 2px 2px rgba(0,0,0,.05);
  moz-text-shadow: 0 2px 2px rgba(0,0,0,.05);
  webkit-text-shadow: 0 2px 2px rgba(0,0,0,.05);
  font-weight: bold;
  margin-top: -1px;
}
.navbar-wrapper
{
  margin-bottom: -90px;
  margin-top: 30px;
  position: relative;
  z-index: 10;
}
.navbar .navbar-inner
{
  border: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
  moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  z-index:20;
}
.navbar .brand
{
  font-size: 16px;
  font-weight: bold;
  padding: 14px 20px 16px;
}
.navbar .nav > li > a
{
  padding: 15px 20px;
}
.navbar .btn-navbar
{
  margin-top: 10px;
}
#data_table_processing
{
  margin-bottom:10px;
  color:#444;
  padding-left:20px;
  background-image:url(/images/white_loading.gif);
  background-repeat:no-repeat;
  background-position:bottom left;
  margin-top:5px;
  position:relative;
  padding-top:4px;
}

h4 .no-padding-top
{
  margin:0;
  padding:0;
}

table
{
  border-collapse:collapse;
}

.btn
{
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

.large-non-bold-font
{
  font-size:230%;
  color:#666;
}

.taracot-avatar
{
  border-radius:3px;
  -o-border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.bg-grey-pad
{
  background-color:#e5e5e5;
  border-radius:5px;
  padding:10px;
}

.medium-large-non-bold
{
  font-size:150%;
}

input[type="submit"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner
{
  border:0;
}

input[type="submit"]:focus,input[type="button"]:focus
{
  outline:none;
}

table.table thead .sorting,table.table thead .sorting_asc,table.table thead .sorting_desc,table.table thead .sorting_asc_disabled,table.table thead .sorting_desc_disabled
{
  cursor:hand;
}

table.table thead .sorting_asc
{
  background:#cdcdcd url(/images/sort_asc.png) no-repeat center right;
}

table.table thead .sorting_desc
{
  background:#cdcdcd url(/images/sort_desc.png) no-repeat center right;
}

#data_table_filter
{
  float:right;
  position:relative;
}

#data_table_info
{
  float:right;
}

#data_table>tbody>tr>td
{
  vertical-align:middle;
}

#jm_stack_box
{
  position:fixed;
  top:15px;
  right:15px;
  width:220px;
  z-index:6000;
}

#jm_stack_box .jm_message
{
  background-color:#000;
  background:rgba(0,0,0,.7);
  font-family:Tahoma;
  font-size:11px;
  color:#fff;
  cursor:pointer;
  border-radius:3px;
  -o-border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:0 0 15px;
  padding:10px;
}

#jm_stack_box .jm_message h3
{
  font-size:15px;
  font-weight:400;
  color:#fff;
  margin:0 0 5px;
  padding:0;
}

#jm_stack_box .jm_message_error
{
  background-color:#c00;
  background:rgba(125,0,0,.95);
}

#jm_stack_box .jm_message_success
{
  background-color:#0c0;
  background:rgba(0,125,0,.95);
}

.admin_action_link
{
  text-decoration:none;
  border-bottom:1px solid #AAA;
}

.admin_action_link:hover
{
  text-decoration:none;
}

th
{
  background-color:#e5e5e5;
}

#admin_actions
{
  padding-bottom:10px;
}

#form_notice
{
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
  padding-top:20px;
}

.required_field
{
  color:red;
  font-weight:700;
}

.thumbnail_font
{
  color:#fff;
  font-size:9px;
  margin-top:6px;
  margin-bottom:2px;
  background:#444;
  border-radius:2px;
  width:94px;
  overflow:hidden;
  padding:3px;
}

.node_selected
{
  background-color:#ffc54e;
}

.browser_thumbnail
{
  cursor:pointer;
  text-align:center;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

.browser_thumbnail_pic
{
  background-repeat:none;
  width:100px;
  height:100px;
}

.browser_thumbnail_pic_type
{
  position:relative;
  left:50px;
}

[class^="browser-i-"]
{
  display:inline-block;
  width:16px;
  height:16px;
  vertical-align:text-top;
  background-image:url(/images/glyphicons-browser.png);
  background-position:16px 16px;
  background-repeat:no-repeat;
  margin-right:.3em;
}

.browser-i-copy
{
  background-position:-16px 0;
}

.browser-i-cut
{
  background-position:-32px 0;
}

.browser-i-delete
{
  background-position:-48px 0;
}

.browser-i-newdir
{
  background-position:-64px 0;
}

.browser-i-rename
{
  background-position:-96px 0;
}

.browser-i-select
{
  background-position:-112px 0;
}

.browser-i-updir
{
  background-position:-128px 0;
}

.browser-i-upload
{
  background-position:-144px 0;
}

[class^="filetypes-i-"]
{
  display:inline-block;
  width:20px;
  height:20px;
  vertical-align:text-top;
  background-image:url(/images/filetypes.png);
  background-position:20px 20px;
  background-repeat:no-repeat;
  margin-right:.3em;
}

.filetypes-i-bmp
{
  background-position:-20px 0;
}

.filetypes-i-css
{
  background-position:-40px 0;
}

.filetypes-i-htm
{
  background-position:-100px 0;
}

.filetypes-i-js
{
  background-position:-140px 0;
}

.filetypes-i-mov
{
  background-position:0 -20px;
}

.filetypes-i-mp3
{
  background-position:-20px -20px;
}

.filetypes-i-mp4
{
  background-position:-40px -20px;
}

.filetypes-i-mpg
{
  background-position:-60px -20px;
}

.filetypes-i-pdf
{
  background-position:-80px -20px;
}

.filetypes-i-php
{
  background-position:-100px -20px;
}

.filetypes-i-png
{
  background-position:-120px -20px;
}

.filetypes-i-rar
{
  background-position:0 -40px;
}

.filetypes-i-txt
{
  background-position:-20px -40px;
}

.filetypes-i-unknown
{
  background-position:-40px -40px;
}

.filetypes-i-xml
{
  background-position:-80px -40px;
}

.filetypes-i-zip
{
  background-position:-100px -40px;
}

.input-append.date .add-on i,.input-prepend.date .add-on i
{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
}

[class^="browser-i-"]:last-child,[class^="filetypes-i-"]:last-child
{
  margin-left:0;
}

.browser-i-chdir,.filetypes-i-avi
{
  background-position:0 0;
}

.browser-i-paste,.filetypes-i-gif
{
  background-position:-80px 0;
}

.filetypes-i-doc,.filetypes-i-docx
{
  background-position:-60px 0;
}

.filetypes-i-jpg,.filetypes-i-jpeg
{
  background-position:-120px 0;
}

.filetypes-i-ppt,.filetypes-i-pptx
{
  background-position:-140px -20px;
}

.filetypes-i-xls,.filetypes-i-xlsx
{
  background-position:-60px -40px;
}

/*
  Datepicker for Bootstrap
  Copyright 2012 Stefan Petre
  Licensed under the Apache License v2.0
  http://www.apache.org/licenses/LICENSE-2.0
*/

.datepicker { z-index: 5000; top: 0; left: 0; padding: 4px; margin-top: 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; /*.dow { border-top: 1px solid #ddd !important; }*/ } .datepicker:before { content: ''; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-bottom-color: rgba(0, 0, 0, 0.2); position: absolute; top: -7px; left: 6px; } .datepicker:after { content: ''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #ffffff; position: absolute; top: -6px; left: 7px; } .datepicker > div { display: none; } .datepicker table { width: 100%; margin: 0; } .datepicker td, .datepicker th { text-align: center; width: 20px; height: 20px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; } .datepicker td.day:hover { background: #eeeeee; cursor: pointer; } .datepicker td.old, .datepicker td.new { color: #999999; } .datepicker td.active, .datepicker td.active:hover { background-color: #006dcc; background-image: -moz-linear-gradient(top, #0088cc, #0044cc); background-image: -ms-linear-gradient(top, #0088cc, #0044cc); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc)); background-image: -webkit-linear-gradient(top, #0088cc, #0044cc); background-image: -o-linear-gradient(top, #0088cc, #0044cc); background-image: linear-gradient(top, #0088cc, #0044cc); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0); border-color: #0044cc #0044cc #002a80; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); } .datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] { background-color: #0044cc; } .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active { background-color: #003399 \9; } .datepicker td span { display: block; width: 47px; height: 54px; line-height: 54px; float: left; margin: 2px; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; } .datepicker td span:hover { background: #eeeeee; } .datepicker td span.active { background-color: #006dcc; background-image: -moz-linear-gradient(top, #0088cc, #0044cc); background-image: -ms-linear-gradient(top, #0088cc, #0044cc); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc)); background-image: -webkit-linear-gradient(top, #0088cc, #0044cc); background-image: -o-linear-gradient(top, #0088cc, #0044cc); background-image: linear-gradient(top, #0088cc, #0044cc); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0); border-color: #0044cc #0044cc #002a80; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); } .datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] { background-color: #0044cc; } .datepicker td span.active:active, .datepicker td span.active.active { background-color: #003399 \9; } .datepicker td span.old { color: #999999; } .datepicker th.switch { width: 145px; } .datepicker th.next, .datepicker th.prev { font-size: 19.5px; } .datepicker thead tr:first-child th { cursor: pointer; } .datepicker thead tr:first-child th:hover { background: #eeeeee; } .input-append.date .add-on i, .input-prepend.date .add-on i { display: block; cursor: pointer; width: 16px; height: 16px; }

.bootstrap-timepicker.dropdown-menu {
    border-radius: 4px 4px 4px 4px;
    display: none;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
    min-width: 10px;
    z-index: 99999;
}
.bootstrap-timepicker.dropdown-menu.open {
    display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;
}
.bootstrap-timepicker.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;
}
.bootstrap-timepicker.modal {
    margin-left: -100px;
    margin-top: 0;
    top: 30%;
    width: 200px;
}
.bootstrap-timepicker.modal .modal-content {
    padding: 0;
}
.bootstrap-timepicker table {
    margin: 0;
    width: 100%;
}
.bootstrap-timepicker table td {
    height: 30px;
    margin: 0;
    padding: 2px;
    text-align: center;
}
.bootstrap-timepicker table td span {
    width: 100%;
}
.bootstrap-timepicker table td a {
    border: 1px solid transparent;
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 8px 0;
    width: 3em;
}
.bootstrap-timepicker table td a:hover {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-radius: 4px 4px 4px 4px;
}
.bootstrap-timepicker table td a i {
    margin-top: 2px;
}
.bootstrap-timepicker table td input {
    margin: 0;
    text-align: center;
    width: 25px;
}
.bootstrap-timepicker-component .add-on {
    cursor: pointer;
}
.bootstrap-timepicker-component .add-on i {
    display: block;
    height: 16px;
    width: 16px;
} 
