body,html
{
  height:100%;
  background-color:#7d7e7d;
  background:linear-gradient(tobottom,#7d7e7d0%,#0e0e0e100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d',endColorstr='#0e0e0e',GradientType=0);
}

#taracot_auth
{
  position:absolute;
  top:50%;
  left:50%;
  width:300px;
  margin-left:-155px;
  margin-top:-105px;
  height:165px;
  background:#e5e5e5;
  text-align:left;
  -moz-box-shadow:0 0 8px #000;
  -webkit-box-shadow:0 0 8px #000;
  box-shadow:0 0 8px #000;
  border:1px solid #fff;
  z-index:200;
  border-radius:6px;
  padding:10px;
}

#taracot_old_browser_warning
{
  position:absolute;
  top:50%;
  left:50%;
  width:500px;
  margin-left:-300px;
  margin-top:-105px;
  height:165px;
  background:#CCC;
  text-align:left;
  z-index:200;
  border:4px solid #600;
  padding:10px;
}

#taracot_error
{
  width:300px;
  height:60px;
  margin-top:44px;
  position:absolute;
  border:1px solid #fff;
  -moz-box-shadow:0 0 3px #999;
  -webkit-box-shadow:0 0 3px #999;
  box-shadow:0 0 3px #999;
  border-radius:5px;
  z-index:90;
  margin-left:-5px;
  padding-right:10px;
  background:linear-gradient(tobottom,#d40d120%,#94090d89%,#5c0002100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40d12',endColorstr='#5c0002',GradientType=0);
}

#taracot_error_msg
{
  text-align:center;
  color:#fff;
  font-weight:700;
  padding:20px 10px 10px;
}

#taracot_auth_img
{
  position:relative;
  left:136px;
  top:62px;
}

label
{
  text-align:left;
}

#taracot_logo
{
  margin-top:-60px;
  float:right;
  z-index:100;
}

#taracot_about
{
  color:#888;
  float:bottom;
  font-size:70%;
  margin-top:20px;
  text-align:right;
}

#taracot_about a
{
  color:#888;
  text-decoration:none;
  border-bottom:1px solid #aaa;
}

#taracot_about a:hover
{
  color:#FF8A00;
  text-decoration:none;
  border-bottom:1px solid #FF8A00;
}

#taracot_auth_buttons
{
  text-align:right;
  width:100%;
}

#continue_anyway
{
  text-align:right;
  width:100%;
  position:absolute;
  left:0;
  top:148px;
}

#auth_username,#auth_password
{
  width:287px;
}