body,html
{
  color: #444;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
.navbar-wrapper
{
  margin-bottom: -90px;
  margin-top: 30px;
  position: relative;
  z-index: 10;
}
.navbar .navbar-inner
{
  border: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
  moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  z-index:20;
}
.navbar .brand
{
  font-size: 16px;
  font-weight: bold;
  padding: 14px 20px 16px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
.navbar .nav > li > a
{
  padding: 15px 20px;
}
.navbar .btn-navbar
{
  margin-top: 10px;
}
#taracot-top-img {
  background: url(/taracot/bg.png);
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
#taracot-header-span {
  text-align: right;  
  z-index: 9;
}
#taracot-logo {
  margin-bottom: 10px;
}
.taracot-header
{
  margin-bottom: -90px;
  margin-top: -115px;
  position: absolute;
  z-index: 30;
  color:#fff;
}
.taracot-after-header {
  margin-top: 150px;
  overflow:auto;
}
.taracot-phone-login-buttons {
  padding-bottom: 10px;
}
h1 {
  margin-bottom: 20px;
}
footer {
  background-color: #444;
  color:#ddd;
  padding-top:20px;
  padding-bottom:10px;
  margin-top:20px;
}
footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: none;  
}
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}