DirectoryIndex index.cgi
AddHandler cgi-script .cgi .pl
Options +ExecCGI
RewriteEngine On
 
RewriteEngine on
RewriteRule ^js/(.*)$ /site/public/js/$1 [L]
RewriteRule ^css/(.*)$ /site/public/css/$1 [L]
RewriteRule ^files/(.*)$ /site/public/files/$1 [L]
RewriteRule ^images/(.*)$ /site/public/images/$1 [L]
RewriteRule ^taracot/(.*)$ /site/public/taracot/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.cgi/$1 [QSA,L]
