<li class="span3">
 <div class="thumbnail" onclick="location.href='/catalog/[== $groupid =]/[== $filename =]'" style="cursor:pointer">
  <img src="[== $picture =]" alt="" />
  <div class="caption">
    <h5>[== $pagetitle =]</h5>
     <p>[== $description_short =]</p>
     <p><a href="/catalog/[== $groupid =]/[== $filename =]" class="btn">[== $lang->{catalog_view}=]</a></p>
  </div>
 </div>
</li>