.blog-label-bottom {
	font-weight:normal;
	font-size:90%;
	color: #fff;
	padding-bottom:3px;
}
 .blog-label-bottom a {
 	color: #fff;	
 }
 .blog-post-cut {
 	border-bottom: dashed 1px #222;
 	height:5px; 	
 	margin-bottom:5px;
 }