.blog-label-bottom {
	font-weight:normal;
	font-size:90%;
	color: #fff;
	padding-bottom:3px;
}
 .blog-label-bottom a {
 	color: #fff;	
 }
 .blog-post-cut {
 	border-bottom: dashed 1px #222;
 	height:5px; 	
 	margin-bottom:5px;
 }
 code {
 	display:block;
 	padding:5px;
 }
 .comment {
 	margin-bottom: 5px;
 }
 .comment_reply {
 	color: #40627c;
 	cursor: pointer;
 	font-size: 90%;
 	border-bottom: 1px dashed;
 }
 .comment_span_link {
 	color: #40627c;
 	cursor: pointer;
 	border-bottom: 1px dashed;	
 }
.muted {
	padding-top: 10px;
}
.comment_timestamp {
	font-size: 85%;
	color: #666;
}
.blog_comment_write_link {
	color: #40627c;
	border-bottom: 1px dashed;	
	cursor: pointer;
	font-size: 120%;
}
.label-inv {
	background:#222;
}
.label-dark {
	color: #fff;	
	font-size: 90%;
	font-weight: normal;
}
.label-dark-link { 
	text-decoration: none;
	color:#fff;
}
.label-dark-link:hover {
	text-decoration: none;
	color:#fff;	
}
.label-smaller {
	font-weight: normal;
}
.label-hub {
	background: #fff;
	border: 1px solid #ccc;
	color: #111;
	font-size: 90%;
	font-weight: normal;
}
.label-hub-link {
	background: #fff;
	color: #111;
}
.label-hub-link:hover {
	color: #111;
}
.taracot_blog_link_h1, .taracot_blog_link_h1:hover, .taracot_blog_link_h1:active, .taracot_blog_link_h1:focus {
	color: #444;
	outline: 0;
	text-decoration: none;
}