h1 {
  margin-bottom:20px;
}
.account_hint {
  margin-top: 10px;
  margin-bottom: 30px;
}
a, a:hover, a:active, a:focus, object, embed {
    outline: 0;
    border: 0px;
}
input::-moz-focus-inner { 
  border: 0; 
}
.btn:focus {
  outline: none;
  outline-offset: -4px;
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    border: 1px solid #999;
    outline: 0;
}
.red_asterisk
{
  color:red;
  font-weight:700;
}

#avatar_profile_wrap
{
  width:100px;
  height:100px;
  margin:auto;
}

#avatar_profile_img
{
  cursor:pointer;
}

#avatar_overview_img,#avatar_profile_img
{
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

#floatingcirclesg
{
  position:relative;
  width:100px;
  height:100px;
  -webkit-transform:scale(0.6);
  -moz-transform:scale(0.6);
  -o-transform:scale(0.6);
  -ms-transform:scale(0.6);
}

.f_circleg
{
  position:absolute;
  background-color:#FFF;
  height:18px;
  width:18px;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
  border-radius:9px;
  -webkit-animation-name:f_fadeG;
  -webkit-animation-duration:1.04s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -moz-animation-name:f_fadeG;
  -moz-animation-duration:1.04s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -o-animation-name:f_fadeG;
  -o-animation-duration:1.04s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -ms-animation-name:f_fadeG;
  -ms-animation-duration:1.04s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
}

#frotateg_01
{
  left:0;
  top:41px;
  -webkit-animation-delay:.39s;
  -moz-animation-delay:.39s;
  -o-animation-delay:.39s;
  -ms-animation-delay:.39s;
}

#frotateg_02
{
  left:12px;
  top:12px;
  -webkit-animation-delay:.52s;
  -moz-animation-delay:.52s;
  -o-animation-delay:.52s;
  -ms-animation-delay:.52s;
}

#frotateg_03
{
  left:41px;
  top:0;
  -webkit-animation-delay:.65s;
  -moz-animation-delay:.65s;
  -o-animation-delay:.65s;
  -ms-animation-delay:.65s;
}

#frotateg_04
{
  right:12px;
  top:12px;
  -webkit-animation-delay:.78s;
  -moz-animation-delay:.78s;
  -o-animation-delay:.78s;
  -ms-animation-delay:.78s;
}

#frotateg_05
{
  right:0;
  top:41px;
  -webkit-animation-delay:.91s;
  -moz-animation-delay:.91s;
  -o-animation-delay:.91s;
  -ms-animation-delay:.91s;
}

#frotateg_06
{
  right:12px;
  bottom:12px;
  -webkit-animation-delay:1.04s;
  -moz-animation-delay:1.04s;
  -o-animation-delay:1.04s;
  -ms-animation-delay:1.04s;
}

#frotateg_07
{
  left:41px;
  bottom:0;
  -webkit-animation-delay:1.17s;
  -moz-animation-delay:1.17s;
  -o-animation-delay:1.17s;
  -ms-animation-delay:1.17s;
}

#frotateg_08
{
  left:12px;
  bottom:12px;
  -webkit-animation-delay:1.3s;
  -moz-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  -ms-animation-delay:1.3s;
}
100%
{
  background-color:#FFF;
}
[class^="social-i-"]
    {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:text-top;
    background-image:url(/images/social-icons.png);
    background-position:16px 16px;
    background-repeat:no-repeat;*margin-right:.3em;
    }
[class^="social-i-"]:last-child{*margin-left:0;}
    .social-i-facebook {background-position:0px 0px;} 
    .social-i-google {background-position:-16px 0px;} 
    .social-i-vkontakte {background-position:-32px 0px;} 
    .social-i-yandex {background-position:-48px 0px;}
.username-header {
  font-size: 150%;
  font-style: bold;
}