#account_notification {
	display: none;
	position: absolute;
	background-color: #00aa00;
	color: #fff;
	padding: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #299a0b; /* Old browsers */
	background: -moz-linear-gradient(top, #299a0b 0%, #49e830 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#49e830)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #299a0b 0%,#49e830 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #299a0b 0%,#49e830 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #299a0b 0%,#49e830 100%); /* IE10+ */
	background: linear-gradient(to bottom, #299a0b 0%,#49e830 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#49e830',GradientType=0 ); /* IE6-9 */
}
#account_notification_inner {
	padding: 20px
}
.red_asterisk {
	color:red;
	font-weight:bold;
}
#avatar_profile_wrap {
	width:100px;
	height:100px;
	margin:auto;
}
#avatar_profile_img {
	cursor:pointer;
}
#avatar_overview_img, #avatar_profile_img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}