.red_asterisk {
	color:red;
	font-weight:bold;
}
#avatar_profile_wrap {
	width:100px;
	height:100px;
	margin:auto;
}
#avatar_profile_img {
	cursor:pointer;
}
#avatar_overview_img, #avatar_profile_img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}